{% extends "base.html" %}


{% block content %}

<div class="row pb-10">

    <div class="col-xl-4 col-lg-4 col-md-6 mb-20">
        <div class="card-box height-100-p widget-style3">
            <div class="d-flex flex-wrap">
                <div class="widget-data">
                    <div class="weight-700 font-24 text-dark"><a href="{% url 'myapp:create_product' %}">Receive_Item</a></div>
                    <div class="font-14 text-secondary weight-500">

                    </div>
                </div>
                <div class="widget-icon">
                    <div class="icon" data-color="#05f511">
                        <i class="icon-copy dw dw-delivery-truck-2"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 mb-20">
        <div class="card-box height-100-p widget-style3">
            <div class="d-flex flex-wrap">
                <div class="widget-data">
                    <div class="weight-700 font-24 text-dark"><a href="{% url 'myapp:AccVarientList' %}">Output</a></div>
                    <div class="font-14 text-secondary weight-500">

                    </div>
                </div>
                <div class="widget-icon">
                    <div class="icon" data-color="#eb4034">

                        <i class="icon-copy dw dw-factory"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 mb-20">
        <div class="card-box height-100-p widget-style3">
            <div class="d-flex flex-wrap">
                <div class="widget-data">
                    <div class="weight-700 font-24 text-dark"><a href="{% url 'myapp:create_product' %}">Warehouse</a></div>
                    <div class="font-14 text-secondary weight-500">

                    </div>
                </div>
                <div class="widget-icon">
                    <div class="icon" data-color="#05f511">

                        <i class="icon-copy dw dw-profits-1"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">Inventory Acc List</h4>

    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
            <tr class="table-success">

                <th class="">Buyer</th>
                <th class="">PO#</th>
                                <th class="">Receive Qty</th>
                                <th>Receive Date</th>
                <th class="">Edit</th>
                <th class="">Warehouse</th>




            </tr>
            </thead>
            <tbody>
            {% for a in acc %}
            <tr class="">
                <td class="table-plus"><a href="#"><b>{{a.buyer_name}}</b></a></td>
                <td class="">{{ a.po_style_no }}</td>
                                <td>{{a.receive_qty}}</td>
                <td class=""><a href="#"><b>{{a.sku}}</b></a></td>
                <td class=""><a href="{% url 'myapp:update_product' a.id %}" class="btn btn-sm btn-info"><i class="icon-copy dw dw-edit-file"></i></a></td>
                <td>{{a.warehouse}}</td>



            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock content %}