{% extends "base.html" %}


{% block content %}


<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">Fabric Composition List</h4>

    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
            <tr class="table-success">

                <th class="">PO#</th>
                <th class="">Fabric Composition</th>
                                <th class="">Color</th>
                                <th>Avaiable Roll Qty</th>
                <th class="">Avaiable Yard</th>
                <th class="">Send Request</th>




            </tr>
            </thead>
            <tbody>
            {% for a in fab_compo %}
            <tr class="">
                <td class="table-plus"><a href="#"><b>{{a.accinv}}</b></a></td>
                <td class="">{{ a.fabric_composition }}</td>
                                <td>{{a.color}}</td>
                <td class=""><a href="#"><b>{{a.receive_qty}}</b></a></td>
                <td class="">{{a.fabric_width}}</td>
                <td>
                    <a
                            href="#"
                            class="btn-primary btn-sm"
                            data-toggle="modal"
                            data-target="#Medium-modal{{a.id}}"
                            type="button"
                    >Request

                    </a>

                    <div
									class="modal fade"
									id="Medium-modal{{a.id}}"
									tabindex="-1"
									role="dialog"
									aria-labelledby="myLargeModalLabel"
									aria-hidden="true"
								>
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="myLargeModalLabel">
													Accessories Request Form
												</h4>
												<button
													type="button"
													class="close"
													data-dismiss="modal"
													aria-hidden="true"
												>
													×
												</button>
											</div>
											<form action="{% url 'myapp:AccVarientList' %}" method="post">{% csrf_token %}
											<div class="modal-body">
												<div class="form-group row">
                                        <label class="col-sm-12 col-md-4 col-form-label">Style #{{a.id}}/Size:{{a.color}} </label>

                                        <div class="col-sm-12 col-md-12">
											<input type="text" name="accinv" value="{{a.accinv}}">
											<input type="text" name="color" value="{{a.color}}">
											<input type="text" name="size" value="{{a.size}}">
                                            <input class="form-control" type="number" placeholder="Enter Request Qty" name="request_qty">
                                        </div>
                                    </div>
											</div>
											<div class="modal-footer">
												<button
													type="button"
													class="btn btn-secondary"
													data-dismiss="modal"
												>
													Close
												</button>
												<button type="submit" class="btn btn-primary">
													Request
												</button>
											</div>
											</form>
										</div>
									</div>
								</div>

                </td>


            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>




{% endblock content %}