{% extends 'base.html' %}

{% block content %}



<div class="row">


{% for i in po %}

<!-- Large modal -->
    <div class="col-md-4 col-sm-12 mb-30">
        <div class="pd-20 card-box height-100-p">
            <!--								<h5 class="h4">Large modal</h5>-->
            <a
                    href="#"
                    class="btn-block"
                    data-toggle="modal"
                    data-target="#bd-example-modal-lg{{i.id}}"
                    type="button"
            >
                <h2 class="text-center">{{i.line}}</h2>
                <hr>
                <h4>Style Code <span class="badge badge-pill badge-warning">#{{i.style}}</span></h4>
                
                
            </a>
            <div
                    class="modal fade bs-example-modal-lg"
                    id="bd-example-modal-lg{{i.id}}"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myLargeModalLabel"
                    aria-hidden="true"
            >
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">
                            	Style Code         {{i.style}}
                            </h4>
                            <button
                                    type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-hidden="true"
                            >
                                ×
                            </button>
                        </div>
                        <form action="{% url 'myapp:LineDataEntrySave' %}" method="post">{% csrf_token %}
                        <div class="modal-body">
                        	<input type="" name="id" value="{{i.id}}" hidden>
                        	<input type="" name="style" value="{{i.style}}" hidden>
                        	<input type="" name="cmp_amount" value="{{i.cmp_amount}}" hidden>

                            
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">8:30AM</label>
                                <div class="col-sm-12 col-md-4">
                                    <input class="form-control" type="number" placeholder="{{i.shift_1}}" name="shift_1" value="{{i.shift_1}}">
                                </div>

                                <label class="col-sm-12 col-md-2 col-form-label">9:30AM</label>
                                <div class="col-sm-12 col-md-4">
                                    <input class="form-control" type="number" value="{{i.shift_2}}" name="shift_2">
                                </div>

                                <label class="col-sm-12 col-md-2 col-form-label">10:30AM</label>
                                <div class="col-sm-12 col-md-4">
                                    <input class="form-control" type="number" value="{{i.shift_3}}" name="shift_3">
                                </div>

                                <label class="col-sm-12 col-md-2 col-form-label">11:30AM</label>
                                <div class="col-sm-12 col-md-4">
                                    <input class="form-control" type="number" value="{{i.shift_4}}" name="shift_4">
                                </div>

                                <label class="col-sm-12 col-md-2 col-form-label">1:00PM</label>
                                <div class="col-sm-12 col-md-4">
                                    <input class="form-control" type="number" value="{{i.shift_5}}" name="shift_5">
                                </div>

                                <label class="col-sm-12 col-md-2 col-form-label">2:00PM</label>
                                <div class="col-sm-12 col-md-4">
                                    <input class="form-control" type="number" value="{{i.shift_6}}" name="shift_6">
                                </div>

                                <label class="col-sm-12 col-md-2 col-form-label">3:00PM</label>
                                <div class="col-sm-12 col-md-4">
                                    <input class="form-control" type="number" value="{{i.shift_7}}" name="shift_7">
                                </div>

                                <label class="col-sm-12 col-md-2 col-form-label">8:30PM</label>
                                <div class="col-sm-12 col-md-4">
                                    <input class="form-control" type="number" value="{{i.shift_8}}" name="shift_8">
                                </div>

                                <label class="col-sm-12 col-md-2 col-form-label">4:00PM</label>
                                <div class="col-sm-12 col-md-4">
                                    <input class="form-control" type="number" value="{{i.shift_9}}" name="shift_9">
                                </div>

                                <label class="col-sm-12 col-md-2 col-form-label">5:00PM</label>
                                <div class="col-sm-12 col-md-4">
                                    <input class="form-control" type="number" value="{{i.shift_10}}" name="shift_10">
                                </div>

                                <label class="col-sm-12 col-md-2 col-form-label">6:00PM</label>
                                <div class="col-sm-12 col-md-4">
                                    <input class="form-control" type="number" value="{{i.shift_11}}" name="shift_11">
                                </div>

                                <label class="col-sm-12 col-md-2 col-form-label">7:00PM</label>
                                <div class="col-sm-12 col-md-4">
                                    <input class="form-control" type="number" value="{{i.shift_12}}" name="shift_12">
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                            >
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endfor %}




</div>



{% endblock content %}