{% extends 'base.html' %}

{% block content %}

<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h5 class="text-blue">New Order</h5>

            </div>
            <hr>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <form action="{% url 'myapp:SaveOrderQty' %}" method="post">{% csrf_token %}


                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Buyer</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="text" value="{{style_data.BuyerName}}" placeholder="{{style_data.BuyerName}}" name="buyer" readonly="True">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Style Code</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="text" value="{{style_data.StyleCode}}" placeholder="{{style_data.StyleCode}}" name="style_code" readonly="True">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Item</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="text" placeholder="{{style_data.ItemName}}" value="{{style_data.ItemName}}" name="item" readonly="True">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Register Date</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="date" placeholder="" name="order_date">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Order Qty</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="number" placeholder="" name="order_qty">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">CMP</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="number" placeholder="" name="cmp_amount" step="any">
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-4 col-form-label text-danger">Making_Charge</label>
                    <div class="col-sm-12 col-md-8">
                        <input class="form-control" type="number" placeholder="" name="making_charge" step="any">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-4 col-form-label  text-danger">Import/Export</label>
                    <div class="col-sm-12 col-md-8">
                        <input class="form-control" type="number" placeholder="" name="import_export_charge" step="any">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-12 col-md-4 col-form-label text-danger">Box Charge</label>
                    <div class="col-sm-12 col-md-8">
                        <input class="form-control" type="number" placeholder="" name="box_charge" step="any">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-4 col-form-label text-danger">Poly Bag</label>
                    <div class="col-sm-12 col-md-8">
                        <input class="form-control" type="number" placeholder="" name="poly_bag" step="any">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-4 col-form-label text-danger">Sewing Thread</label>
                    <div class="col-sm-12 col-md-8">
                        <input class="form-control" type="number" placeholder="" name="sewing_thread" step="any">
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Delivery Date</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="date" placeholder="" name="deli_date">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Fabric ETA</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="date" placeholder="" name="fabric_eta">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">ACC.ETA</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="date" placeholder="" name="acc_eta">
                    </div>
                </div>
                {% if message %}
                <li class="text-danger">{{message}}</a></li>


            {% endif %}
            {% if success %}
            <div class="text-success">
                {{success}}
            </div>
            {% endif %}

                <input type="submit" value="Save Order" class="btn btn-primary">


            </form>
        </div>
    </div>
</div>



{% endblock content %}
