{% extends "base.html" %}


{% block content %}


<div class="row pb-10">

    <div class="col-xl-4 col-lg-4 col-md-6 mb-20">
        <div class="card-box height-80-p widget-style3">
            <div class="d-flex flex-wrap">
                <div class="widget-data">
                    <div class="weight-700 font-16 text-blue"><a href="{% url 'myapp:create_product' %}">AccessoriesInput</a></div>

                </div>
                <div class="widget-icon">
                    <div class="icon" data-color="#00eccf">
                        <i class="icon-copy dw dw-calendar1"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 mb-20">
        <div class="card-box height-80-p widget-style3">
            <div class="d-flex flex-wrap">
                <div class="widget-data">
                    <div class="weight-700 font-16 text-blue"><a href="{% url 'myapp:AccInventoyList' %}">AccessoriesList</a></div>

                </div>
                <div class="widget-icon">
                    <div class="icon" data-color="#00eccf">
                        <i class="icon-copy dw dw-calendar1"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 mb-20">
        <div class="card-box height-80-p widget-style3">
            <div class="d-flex flex-wrap">
                <div class="widget-data">
                    <div class="weight-700 font-16 text-blue"><a href="{% url 'myapp:WH_to_Production_Acc' %}">WH_to_Production(ACC)</a></div>

                </div>
                <div class="widget-icon">
                    <div class="icon" data-color="#00eccf">
                        <i class="icon-copy dw dw-calendar1"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row pb-10">
    <div class="col-xl-4 col-lg-4 col-md-6 mb-20">
        <div class="card-box height-80-p widget-style3">
            <div class="d-flex flex-wrap">
                <div class="widget-data">
                    <div class="weight-700 font-16 text-blue"><a href="{% url 'myapp:WH_to_Production_Acc' %}">WH_to_Production(ACC)</a></div>

                </div>
                <div class="widget-icon">
                    <div class="icon" data-color="#00eccf">
                        <i class="icon-copy dw dw-calendar1"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 mb-20">
        <div class="card-box height-80-p widget-style3">
            <div class="d-flex flex-wrap">
                <div class="widget-data">
                    <div class="weight-700 font-16 text-blue"><a href="#">Acc_Handover_Production</a></div>

                </div>
                <div class="widget-icon">
                    <div class="icon" data-color="#00eccf">
                        <i class="icon-copy dw dw-calendar1"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 mb-20">
        <div class="card-box height-80-p widget-style3">
            <div class="d-flex flex-wrap">
                <div class="widget-data">
                    <div class="weight-700 font-16 text-blue"><a href="#">Acc_Handover_Production</a></div>

                </div>
                <div class="widget-icon">
                    <div class="icon" data-color="#00eccf">
                        <i class="icon-copy dw dw-calendar1"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



<div class="row pb-10">
    <div class="col-lg-12 col-md-12 mb-20">
        <div class="card-box height-100-p pd-20 min-height-200px">
            <div class="d-flex justify-content-between pb-10">
                <div class="h5 mb-0">Accessories Request</div>

            </div>

            <div class="user-list">
                <table class="data-table table stripe hover nowrap">
  <thead>
    <tr>
      <th>Style Code</th>
      <th>Size</th>
      <th>RequestQty</th>
		<th>RequestBy</th>
        <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    {% for i in accreq %}
      <tr>
        <td>{{i.style_po}}</td>
        <td>{{i.size}}</td>
        <td>{{i.request_qty}}</td>
		  <td>{{i.request_by}}</td>
          <td>
              <a href="{% url 'myapp:AccRequestStatusChange' i.id %}" class="badge bg-success text-light">accept</a>
              <a
                            href="#"
                            class="badge bg-primary text-light"
                            data-toggle="modal"
                            data-target="#Medium-modal{{i.id}}"
                            type="button"
                    >view

                    </a>

                    <div
									class="modal fade"
									id="Medium-modal{{i.id}}"
									tabindex="-1"
									role="dialog"
									aria-labelledby="myLargeModalLabel"
									aria-hidden="true"
								>
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="myLargeModalLabel">
													Accessories Request Form
												</h4>
												<button
													type="button"
													class="close"
													data-dismiss="modal"
													aria-hidden="true"
												>
													×
												</button>
											</div>

											<div class="modal-body">
												<div class="form-group row alert alert-primary">
                                        <label class="col-sm-12 col-md-6 col-form-label">Style # </label>
                                        <label class="col-sm-12 col-md-6 col-form-label">{{i.style_po}} </label>

                                                </div>
                                                <div class="form-group row alert alert-primary">
                                        <label class="col-sm-12 col-md-6 col-form-label">Size </label>
                                        <label class="col-sm-12 col-md-6 col-form-label">{{i.size}} </label>
                                                </div>
                                                <div class="form-group row alert alert-primary">
                                        <label class="col-sm-12 col-md-6 col-form-label">Request Qty </label>
                                        <label class="col-sm-12 col-md-6 col-form-label">{{i.request_qty}} </label>
                                                </div>
                                                <div class="form-group row alert alert-primary">
                                        <label class="col-sm-12 col-md-6 col-form-label">Request By </label>
                                        <label class="col-sm-12 col-md-6 col-form-label">{{i.request_by}} </label>
                                                </div>
                                                <div class="form-group row alert alert-primary">
                                        <label class="col-sm-12 col-md-6 col-form-label">Request Line </label>
                                        <label class="col-sm-12 col-md-6 col-form-label">{{i.request_line}} </label>
                                                </div>
                                                <div class="form-group row alert alert-primary">
                                        <label class="col-sm-12 col-md-6 col-form-label">Request Date </label>
                                        <label class="col-sm-12 col-md-6 col-form-label">{{i.request_date}} </label>
                                                </div>
											</div>
											<div class="modal-footer">
												<button
													type="button"
													class="btn btn-secondary"
													data-dismiss="modal"
												>
													Close
												</button>

											</div>

										</div>
									</div>
								</div>
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>




            </div>
        </div>
    </div>


</div>

<div class="row pb-10">
    <div class="col-lg-12 col-md-12 mb-20">
        <div class="card-box height-100-p pd-20 min-height-200px">
            <div class="d-flex justify-content-between pb-10">
                <div class="h5 mb-0">Approved Request List</div>

            </div>

            <div class="user-list">
                <table class="data-table table stripe hover nowrap table-info">
  <thead>
    <tr>
      <th>Style Code</th>
      <th>Size</th>
      <th>RequestQty</th>
		<th>RequestBy</th>
        <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    {% for i in approved_req %}
      <tr>
        <td>{{i.style_po}}</td>
        <td>{{i.size}}</td>
        <td>{{i.request_qty}}</td>
		  <td>{{i.request_by}}</td>
          <td>
              <a href="#" class="badge bg-info text-light">Handoverd</a>

          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>




            </div>
        </div>
    </div>


</div>


{% endblock content %}